/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    text-decoration: none;
    vertical-align: baseline;
}
*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

html,body {
    width:100%;height:100%;
    font: 16px/1.4em 'PT Serif', serif;
    background-color: #E5F7ED;
    
}
a {
    text-decoration: none;
}
* {
    padding:0px; margin:0px;
    box-sizing: border-box;
}
 
ol, ul {
    list-style: none;
}

#all {
    display: flex;min-height: 100vh;flex-direction: column;
}

header {
    position: fixed;
    width: 100%;
    height: 50px;
    zoom:1;    /* For IE 6/7 (trigger hasLayout) */
    box-shadow: 0 1px 2px #999; 
    background-color:#C5F5DC;
}

header #logo {
    float: left;
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin: 12px 0 0 26px;
}
 
header:before,header:after {
    content:"";
    display:table;
}
header:after {
    clear:both;
}

header label {
    float: right;
    font-size: 20px;
    font-weight: bold;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 13px 26px 0 0;
}
/* --------------------------------mobile-------------------------------- */
nav {
    padding-top: 50px; 
    height: 0;
    display: block;
	overflow: hidden;
}
nav ul li a {
    display:block;
    background-color: #D8FAE8;
    color: #000000;
    font-size: 14px;
    font-weight: bold; 
    padding:11px 0 11px 0 ;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
}

/* ------------------------------mobile - main----------------------------- */

main {
    flex: 1;  /* 1 代表盡可能最大，會自動填滿除了 header footer 以外的空間 */
    margin: 0 9% 22px 9%;
} 
#content {
    margin: 15px 10px 0 10px;
    
}

#content h1{
    font-size: 1.5em;
}
#content h2{
    font-size: 1.4em;
}
#content h3{
    font-size: 1.3em;
    font-weight: bold;
}
#content h4{
    font-size: 1.2em;
}
#content h5{
    font-size: 1.1em;
}
#content h6{
    font-size: 1em;
}
#content table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}
#content th{
    background-color: #ebebeb;
}

#content th, #content td{
    border:1px solid #ccc;
    padding: 5px;
}
#content pre {
    font-family:monospace;
    overflow:auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#content blockquote {
    padding: 0 1em;
    color: #777;
    border-left: 0.25em solid #ddd
}
.content::after {
        content: "";
        clear: both;
        display: table;
}
[class*="re-"] {
    float: left;
    width: 100%;
}
article {
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 11px 11px 11px;
    margin: 0 10px 1px 0;
    background-color: #ffffff;
    /* box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}
#top {
    background-color: #ffffff;
    margin: 0 10px 10px 0;
    padding: 0 0 4px 0;
}
article #top #title {
    margin: -9px -22px 0 -11px;
    background-color: #D8FAE8;
    color: #671696;
    box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
article #top #title li {
    display: inline-block;
    margin: 10px 0 8px 8px;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}
article #top #title li.off {
    background:#B1F5D1;
    font-weight:bold;
}
article #top #topic {
    margin: 15px 0 0 0 ;
    border-bottom:1px solid #D8FAE8;
}
article #blog #title {
    font-weight: bold;
    font-size: 18px;
}
article #blog #right-info {
    float:right;
    font-size:14px;
    font-weight: bold;
    color:#EC0DBC;
}
article #blog #info {
    display: inline-block;
    font-size: 14px;
    background-color:#F3FCFA;
}
/*--------------------------------- login-register ------------------------------- */
article #top #user-reg {
    margin: -9px -22px 0 -11px;
    padding: 10px 11px 11px 11px;
    font-size: 18px;
    font-weight: bold;
    background-color: #D8FAE8;
    box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
article #top #login {
    margin: 30px 10px 0 0;
}
article #top button {
    width:63px; 
    font-weight: bold;
    line-height:30px;
    background-color:aqua;
    border :1px solid #eeeeee;
}

#theme {
    border-bottom: 1px solid #d8d8d8;
    margin: 0 10px 11px 0;
    background-color: #ffffff;
}
#theme #title {
    box-shadow: 0 -1px 1px rgba(0,0,0,0.12), 0 -1px 1px rgba(0,0,0,0.24);
    margin: 2px 0 11px 0;
    padding: 10px 10px 10px 10px;
    background-color: #D8FAE8;
}
#theme #title #info {
    display: inline-block;
    font-size: 14px;
}
#theme #content {
    margin: 11px 10px 11px 10px;
    font-size: 18px;
}
#comment {
    border-bottom: 1px solid #d8d8d8;
    margin: 0 10px 11px 0;
    background-color: #ffffff;
    /* box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}
#comment #title{
    box-shadow: 0 -1px 1px rgba(0,0,0,0.12), 0 -1px 1px rgba(0,0,0,0.24);
    font-weight: bold;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    background-color: #D8FAE8;
}
#comment #comment-content {
    border-bottom: 1px solid #d8d8d8;
    padding: 6px 10px 6px 10px;
}
#comment #comment-content #info {
    display: inline-block;
    font-size: 14px;
}
#reply {
    border-bottom: 1px solid #d8d8d8;
    padding: 6px 0 3px 0;
    margin: 0 10px 4px 0;
    background-color: #ffffff;
}
#reply #write {
    font-weight: bold;
    height: 22px;
}
#reply textarea {
    width:100%; 
    height: 133px;
}
#reply button {
    width:80px; 
    line-height:30px;
    background-color:aqua;
    border :1px solid #eeeeee;
}

/*--------------------------------- doc ------------------------------- */

/*--------------------------------- new ------------------------------- */

#new-theme {
    padding: 12px 0 10px 10px;
    margin-right: -0.01px;
    background-color: #D8FAE8;
    box-shadow: 0 0 1px rgba(0,0,0,0.22), 0 1px 1px rgba(0,0,0,0.22);
}
form #topic-group {
   margin: 11px 0 11px 0;
}
form #topic-group #category #category-control {
    line-height:30px;
    border :1px solid #CAC1C1; /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border: solid 1px #CAC1C1;
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding: 0 17px 0 9px;
}
form #topic-group input {
    width: 82%;
    height: 30px;
}
form #new textarea {
    width:100%; 
    height: 333px;
}
form #new button {
    width:63px; 
    line-height:30px;
    background-color:aqua;
    border :1px solid #eeeeee;
}
/*--------------------------------- user ------------------------------- */
#top #person {
    margin: 11px;
}
#tab1 {
    margin: 0 10px 10px 0;
}
#tab1 #menu-title {
    padding: 12px 0 10px 10px;
    margin-bottom: 1px;
    background-color: #D8FAE8;
    box-shadow: 0 0 2px rgba(0,0,0,0.22), 0 2px 2px rgba(0,0,0,0.22);
}
#tab1 #menu-title li{
    display: inline-block;
}
#tab1 #menu-title li.off{
    background:#FFFFFF;color:#336699;font-weight:bold;
}
#message-content {
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 11px 11px 11px;
    margin: 0 0 1px 0;
    background-color: #ffffff;
}
#message-content #blog{
    border-bottom: 1px solid #d8d8d8; 
    margin-bottom: 5px;  
    padding-bottom: 5px;
}
#message-content #blog a {
    font-weight: bold;
    font-size: 17px;
}
#message-content #blog #info {
    display: inline-block;
    font-size: 13px;
}
#message-content #blog #comment-info {
    display: inline-block;
    font-size: 16px;
}
#aside {
        background-color: #ffffff;
        padding: 15px 15px 15px 15px;
        margin: 0 10px 15px 0;
        text-align: center;
        font-size: 15px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.12);
} 
#aside #new_theme {
    font-weight: bold;
    text-align: center;
    background: #D8FAE8;
    line-height: 44px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
} 

/* ---------------------desk -------nav ---------------------- */ 

#primary_nav, #nav_left, #nav_right {
    display: none;
}



/*-------------------------------------Desktop------------------------  */

@media only screen and (min-width: 768px) {
 
    #menu, #mnav {
        display: none;
    }
    #nav_left {
        display: block; 
        position: fixed;
        height: auto;
        left: 122px;
        font-size: 18px;
        line-height: 50px;
        font-weight: 700;
        background-color:#C5F5DC;
    }
    #nav_left li {
        display: inline-block;
        padding: 0 33px 0 0;
    }
    #nav_right {
        display: block; 
        position: fixed;
        height: auto;
        right: 30px;
        font-size: 18px;
        line-height: 50px;
        font-weight: 700;
        background-color:#C5F5DC;
    }
    #nav_right input {
        display: none;
    }
    #nav_right li {
        display: inline-block;
    }
    #primary_nav {
        display: block; 
        position: fixed;
        height: auto;
        font-size: 18px;
        right: 0;
        line-height: 50px;
        background-color:#C5F5DC;
    }
    #primary_nav {
        margin-right: 166px;
    }
    #primary_nav ul li {
        display: inline-block; 
    }
    #primary_nav ul li a {
        padding: 0 11px 0 22px;
        font-weight: 700;
    }
    #primary_nav ul li:hover .submenu {
        display: block;
    }
    #primary_nav ul li .submenu {
        display: none;
        position: absolute;
    }
    #primary_nav ul ul li {
        display: block;
        border-bottom:1px solid #333;
        background-color:#33b5e5;
    }
    #primary_nav ul ul li span {
        float:right;
        font-size:15px;
        margin-right: 11px;
        font-weight: bold;
    }
    #primary_nav ul ul li #subitem {
        height: 0;
        overflow: hidden;
    }
    #primary_nav ul ul ul li {
        border-bottom:1px solid #444;
        background-color:#C1CDCD;
    }
    main {
        margin-top: 50px;
    }

     /* For desktop: */
    .re-desk-25 {width: 25%;}
    .re-desk-75 {width: 75%;}
}
 
