html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    text-decoration: none;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

html,body {
    width:100%;height:100%;
    font: 16px/1.4em 'PT Sans', sans-serif;
    background-color: #feefff;
}
* {
    padding:0px; margin:0px;
    box-sizing: border-box;
}
 
h3 {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    line-height: 1.4em;
    margin: 0 0 .1em;
    font-weight: bold;
}
h4 {
    font-family: 'PT Serif', serif;
    font-size: 15px;
    line-height: 1.4em;
    margin: 0 0 .1em;
    font-weight: bold;
}
ol, ul {
    list-style: none;
}

#all {
    display: flex;min-height: 100vh;flex-direction: column;
}

header {
    position: fixed;
    width: 100%;
    height: 50px;
    zoom:1;    /* For IE 6/7 (trigger hasLayout) */
    box-shadow: 0 1px 2px #999; 
    background-color:#feefff;
}

h1.logo a {
    font-weight: bold;
    font-size: 22px;
    float: left;
    letter-spacing: 0.2em;
    padding: 13px 0 15px 24px;
}
 
header:before,header:after {
    content:"";
    display:table;
}
         
header:after {
    clear:both;
}

/* --------------------------------mobile-------------------------------- */

header label {
    float: right;
    font-size: 16px;
    font-weight: bold;
    /* text-transform: uppercase; */
    letter-spacing: 0.1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 15px 22px 15px 0;
}

nav {
    padding-top: 50px; 
    height: 0;
    display: block;
	overflow: hidden;
}
nav ul li a {
    display:block;
    background-color: #feefff;
    color: #000000;
    font-size: 14px;
    font-weight: bold; 
    padding:11px 0 11px 0 ;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
}

/* ------------------------------mobile - main----------------------------- */

main {
    flex: 1;  /* 1 代表盡可能最大，會自動填滿除了 header footer 以外的空間 */
    margin: 0 9% 22px 9%;
} 
#content {
    margin-top: 16px;
}
.content::after {
        content: "";
        clear: both;
        display: table;
}
[class*="re-"] {
    float: left;
    width: 100%;
}
article {
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 11px 11px 11px;
    margin: 0 10px 1px 0;
    background-color: #ffffff;
    /* box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}
#top {
    background-color: #ffffff;
    margin: 0 10px 10px 0;
    padding: 0 0 4px 0;
}
article #top #title {
    margin: -9px -22px 0 -11px;
    background-color: #feefff;
    color: #671696;
    box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
article #top #title li {
    display: inline-block;
    margin: 10px 0 8px 8px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}
article #top #title li.off {
    background:#E6D5D5;
    font-weight:bold;
}
article #top #topic {
    margin: 15px 0 0 0 ;
    border-bottom:1px solid #eeeeee;
}
article #blog a {
    font-weight: bold;
}
article #blog #right-info {
    float:right;
    font-size:12px;
    font-weight: bold;
    color:#EC0DBC;
}
article #blog #info {
    display: inline-block;
    font-size: 12px;
    background-color:#F3FCFA;
}
/*--------------------------------- login-register ------------------------------- */
article #top #user-reg {
    margin: -9px -22px 0 -11px;
    padding: 10px 11px 11px 11px;
    font-weight: bold;
    background-color: #feefff;
    box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
article #top #login {
    margin: 30px 0 0 30px;
}
article #top button {
    margin-left: 30px;
    width:55px; 
    line-height:30px;
    background-color:aqua;
    border :1px solid #eeeeee;
}

#theme {
    border-bottom: 1px solid #d8d8d8;
    margin: 0 10px 11px 0;
    background-color: #ffffff;
}
#theme #title {
    box-shadow: 0 -1px 1px rgba(0,0,0,0.12), 0 -1px 1px rgba(0,0,0,0.24);
    margin: 2px 0 11px 0;
    padding: 10px 10px 10px 10px;
    background-color: #feefff;
}
#theme #title #info {
    display: inline-block;
    font-size: 13px;
}
#theme #content {
    margin: 11px 10px 11px 10px;
}
#comment {
    border-bottom: 1px solid #d8d8d8;
    margin: 0 10px 11px 0;
    background-color: #ffffff;
    /* box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}
#comment #title{
    box-shadow: 0 -1px 1px rgba(0,0,0,0.12), 0 -1px 1px rgba(0,0,0,0.24);
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    background-color: #feefff;
}
#comment #comment-content {
    border-bottom: 1px solid #d8d8d8;
    padding: 6px 10px 6px 10px;
}
#comment #comment-content #info {
    display: inline-block;
    font-size: 13px;
}
#reply {
    border-bottom: 1px solid #d8d8d8;
    padding: 6px 0 3px 0;
    margin: 0 10px 4px 0;
    background-color: #ffffff;
    /* box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}
#reply button {
    width:55px; 
    line-height:30px;
    background-color:aqua;
    border :1px solid #eeeeee;
}
#reply textarea {
    width:100%; 
    height: 133px;
}
/*--------------------------------- doc ------------------------------- */
/* #theme #title button {
    margin-left: 30px;
    width:55px; 
    line-height:30px;
    background-color:aqua;
    border :1px solid #eeeeee;
} */
/*--------------------------------- new ------------------------------- */

#new-theme {
    padding: 12px 0 10px 10px;
    margin-right: -0.01px;
    background-color: #feefff;
    box-shadow: 0 0 1px rgba(0,0,0,0.22), 0 1px 1px rgba(0,0,0,0.22);
}
form #topic-group {
   margin: 11px 0 11px 0;
}
form #topic-group #category #category-control {
    line-height:30px;
    border :1px solid #CAC1C1; /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border: solid 1px #CAC1C1;
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding: 0 17px 0 9px;
}
form #topic-group input {
    width: 82%;
    height: 30px;
}
form #new textarea {
    width:100%; 
    height: 333px;
}
form #new button {
    width:55px; 
    line-height:30px;
    background-color:aqua;
    border :1px solid #eeeeee;
}
/*--------------------------------- user ------------------------------- */
#top #person {
    margin: 11px;
}
#tab1 {
    margin: 0 10px 10px 0;
}
#tab1 #menu-title {
    padding: 12px 0 10px 10px;
    margin-bottom: 1px;
    background-color: #feefff;
    box-shadow: 0 0 2px rgba(0,0,0,0.22), 0 2px 2px rgba(0,0,0,0.22);
}
#tab1 #menu-title li{
    display: inline-block;
}
#tab1 #menu-title li.off{
    background:#FFFFFF;color:#336699;font-weight:bold;
}
#message-content {
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 11px 11px 11px;
    margin: 0 0 1px 0;
    background-color: #ffffff;
}
#message-content #blog{
    border-bottom: 1px solid #d8d8d8; 
    margin-bottom: 5px;  
    padding-bottom: 5px;
}
#message-content #blog a {
    font-weight: bold;
}
#message-content #blog #info {
    display: inline-block;
    font-size: 12px;
}

#aside {
        background-color: #ffffff;
        padding: 15px 15px 15px 15px;
        margin: 0 10px 15px 0;
        text-align: center;
        font-size: 15px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.12);
} 
#aside #new_theme {
    font-weight: bold;
    text-align: center;
    background: #feefff;
    line-height: 44px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
} 

/* ------------------------mobile - footer ----------------------- */

/* ---------------------desk -------nav ---------------------- */ 

#primary_nav, #nav_left, #nav_right {
    display: none;
}

/*----------Media Query 多屏幕时 小屏幕放前面-----------  */

/* @media only screen and (min-width: 550px) {
    .re-table-100 {width: 100%;}

}  */


/*-------------------------------------Desktop------------------------  */

@media only screen and (min-width: 768px) {
 
    #menu, #mnav {
        display: none;
    }
    #nav_left {
        display: block; 
        position: fixed;
        height: auto;
        left: 122px;
        line-height: 50px;
        font-weight: 700;
        background-color:#feefff;
    }
    #nav_left li {
        display: inline-block;
        padding: 0 33px 0 0;
    }
    #nav_right {
        display: block; 
        position: fixed;
        height: auto;
        right: 30px;
        line-height: 50px;
        font-weight: 700;
        /* background-color:#039BE5; */
        background-color:#feefff;
    }
    #nav_right input {
        display: none;
    }
    #nav_right li {
        display: inline-block;
    }
    #primary_nav {
        display: block; 
        position: fixed;
        height: auto;
        right: 0;
        line-height: 50px;
        background-color:#feefff;
    }
    #primary_nav {
        margin-right: 136px;
    }
    #primary_nav ul li {
        display: inline-block; 
    }
    #primary_nav ul li a {
        padding: 0 11px 0 22px;
        font-weight: 700;
    }
    #primary_nav ul li:hover .submenu {
        display: block;
    }
    #primary_nav ul li .submenu {
        display: none;
        position: absolute;
    }
    #primary_nav ul ul li {
        display: block;
        border-bottom:1px solid #333;
        background-color:#33b5e5;
    }
    #primary_nav ul ul li span {
        float:right;
        font-size:15px;
        margin-right: 11px;
        font-weight: bold;
    }
    #primary_nav ul ul li #subitem {
        height: 0;
        overflow: hidden;
    }
    #primary_nav ul ul ul li {
        border-bottom:1px solid #444;
        background-color:#C1CDCD;
    }
    main {
        margin-top: 50px;
    }

     /* For desktop: */
    .re-desk-25 {width: 25%;}
    .re-desk-75 {width: 75%;}
}
 