<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/mdc.min.css">
    <script src="../js/mdc.min.js"></script>
    <script>window.mdc.autoInit();</script>
    <style type="text/css">
       #container {
        padding:70px 50px;
        font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
      }
      #title {
        color: white;
      }
      a {
        color: #00B7FF;
        text-decoration:none; 
      }
      .add{
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px dashed #333;
      }
    </style>
  </head>
  <body>
   <header class="mdc-toolbar mdc-toolbar--fixed" id="header">
        <div class="mdc-toolbar__row">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
              <a href="/" id="title" class="mdc-toolbar__title"><strong>Forum</strong></a>
            </section>
            <div class="user">
              {% if username %}
              <section class="mdc-toolbar__section mdc-toolbar__section--shrink-to-fit">
                欢迎您:{{ username }}&emsp;
              </section>
              <section class="mdc-toolbar__section mdc-toolbar__section--shrink-to-fit">
                <a href="/user/logout">注销</a>&emsp;&emsp;
              </section>
              {% else %}
              <section class="mdc-toolbar__section mdc-toolbar__section--shrink-to-fit">
                <a href="/user/register" title="我要注册" class="mdc-toolbar__title">注册</a>
              </section>
              <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
                <a href="/user/login" title="去登录" class="mdc-toolbar__title">登录</a> &emsp;&emsp;
              </section>
              {% endif %}
            </div>
        </div>
   </header>
  <div id="container">
    <table >
      <tr>
        <td>标题</td>
        <td>作者</td>
        <td>创建时间</td>
      </tr>
      {% for data in datas %}
        <tr>
          <td><a href="/list/{{ data.id }}.html" title="{{ data.title }}"> {{ data.title }} </a></td>
          <td>{{ data.username }} </td>
          <td>{{ data.createtime }} </td>
        </tr>
      {% endfor %}
    </table>
    <div class="add">
      {% if username %}
        <p><input type="text" class="title" style="width:600px"></p>
        <textarea class="content" cols="73" rows="10"></textarea>
        <p><input type="button" class="submit" value="提交"><span class="tip"></span></p>
        <script type="text/javascript" src="http://mat1.gtimg.com/libs/jquery/1.12.0/jquery.min.js"></script>
        <script type="text/javascript">
          var running = false;
          $('.submit').on('click', function(){
            if(running) return;
            running = true;
            $('.tip').text('');

            var title = $('.add .title').val();
                content = $('.add .content').val();
            if(!title || !content){
              $('.tip').text('*输入不能为空');
              return;
            }
            $('.tip').text('数据正在提交中...');

            $.ajax({
              url : '/list/addtopic',
              data : {title:title, content:content},
              dataType : 'json',
              type : 'get'
            }).done(function(result){
              if(result.code==0){
                var html = '<tr><td><a href="'+result.data.url+'" title="'+result.data.title+'">'+result.data.title+'</a></td><td>'+result.data.author+'</td><td>'+result.data.createtime+'</td></tr>';
                $('table').append(html);
                $('.tip').text('');
                $('.title, .content').val('');
              }else{
                $('.tip').text('添加失败');
              }
              running = false;
            })
          })
        </script>
      {% endif %}
    </div>
  </div>
</body>
</html>