<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rust-Forum</title>
    <meta name="description" content="CSS only mobile first navigation">
    <meta name="author" content="Ian Yates">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no">
    <link rel="stylesheet" href="../css/styles.css">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
 
    <!-- Favicons-->
    <link rel="shortcut icon" href="../img/favicon.ico">
    <script src="../js/tabs-index.js" async="async"></script>
</head>
<body >
    <div id="all">
        <header >
                <h1 class="logo"><a href="/" >Rust</a></h1>
                <label ><a id="menu" href="#" >Menu</a></label>
        </header>
        <nav id="mnav" >
                <ul>
                    <li >
                        <a href="/doc">文档</a>
                    </li>
                    <li >
                        <a href="/news">新闻</a>
                    <li >
                        <a href="/article/new">新主题</a>
                    </li>
                    <li >
                        <a href="/bolg/new">新博客</a>
                    </li>
                    <li >
                    {% if username %}
                        <div id="last">
                        <a  href="/user/{{ user_id }}">{{ username }}</a>
                        <a  href="/user/logout">退出</a>
                        </div>
                    {% else %}
                        <a href="/user/login">登录与注册</a>
                    {% endif %}
                    </li>
                </ul>
        </nav>
        <main id="main">
            <div id="content" >
                <div class="re-desk-75 re-table-100 ">
                    <article class="one">
                        <div id="top" class="tab1">
                            <div id="title">
                                <li id="one1" onclick="setTab('one',1)">全部</li>&emsp;
                                <li id="one2" onclick="setTab('one',2)">分享</li>&emsp;
                                <li id="one3" onclick="setTab('one',3)">文章</li>&emsp; 
                                <li id="one4" onclick="setTab('one',4)">问答</li>&emsp;
                                <li id="one5" onclick="setTab('one',5)">未评论</li>&emsp;
                                <li id="one6" onclick="setTab('one',6)">招聘</li>&emsp;
                                <li id="one7" onclick="setTab('one',7)">博客</li>
                            </div>
                            <div id="topic">
                                <a href=""><h3>Rust new Forum in rust!</h3></a>
                                <p>Look, my liege! Shut up! But you are dressed as one&hellip;</p> 
                            </div>
                            <div id="topic">
                                <a href=""><h3>Rust new Forum in rust!</h3></a> 
                                <p>Look, my liege! Shut up! But you are dressed as one&hellip;</p>
                            </div>
                            <div id="topic" class="last">
                                <a href=""><h3>Rust new Forum in rust!</h3></a>
                                <p>Look, my liege! Shut up! But you are dressed as one&hellip;</p>
                            </div>
                        </div>
                    </article>
                    <div id="con_one_1">
                        {% for data in datas %}
                        <article>
                            <div id="blog">
                                <div>
                                    <a href="/article/{{ data.id }}" title="{{ data.title }}"> {{ data.title }} </a>
                                    <div id="right-info">评论:{{ data.comments_count }}</div>
                                </div>
                                <span id="info">{{ data.category }}</span>  •  <span id="info">{{ data.username }}</span> •   
                                <span id="info">{{ data.created_at }}</span>
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                    <div id="con_one_2" style="display:none;">
                        {% for data in datas %}
                        {% if data.category == "分享" %}
                        <article>
                            <div id="blog">
                                <div>
                                    <a href="/article/{{ data.id }}" title="{{ data.title }}"> {{ data.title }} </a>
                                    <div id="right-info">评论:{{ data.comments_count }}</div>
                                </div>
                                <span id="info">{{ data.category }}</span>  •  <span id="info">{{ data.username }}</span> •   
                                <span id="info">{{ data.created_at }}</span>
                            </div>
                        </article>
                         {% endif %}
                        {% endfor %}
                    </div>
                    <div id="con_one_3" style="display:none;">
                        {% for data in datas %}         
                         {% if data.category == "文章" %}
                        <article>
                            <div id="blog">
                                <div>
                                    <a href="/article/{{ data.id }}" title="{{ data.title }}"> {{ data.title }} </a>
                                    <div id="right-info">评论:{{ data.comments_count }}</div>
                                </div>
                                <span id="info">{{ data.category }}</span>  •  <span id="info">{{ data.username }}</span> •   
                                <span id="info">{{ data.created_at }}</span>
                            </div>
                        </article>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div id="con_one_4" style="display:none;">
                        {% for data in datas %}
                        {% if data.category == "问答" %}
                        <article>
                            <div id="blog">
                                <div>
                                    <a href="/article/{{ data.id }}" title="{{ data.title }}"> {{ data.title }} </a>
                                    <div id="right-info">评论:{{ data.comments_count }}</div>
                                </div>
                                <span id="info">{{ data.category }}</span>  •  <span id="info">{{ data.username }}</span> •   
                                <span id="info">{{ data.created_at }}</span>
                            </div>
                        </article>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div id="con_one_5" style="display:none;">
                        {% for data in datas %}
                        {% if data.comments_count == 0 %}
                        <article>
                            <div id="blog">
                                <div>
                                    <a href="/article/{{ data.id }}" title="{{ data.title }}"> {{ data.title }} </a>
                                    <div id="right-info">评论:{{ data.comments_count }}</div>
                                </div>
                                <span id="info">{{ data.category }}</span>  •  <span id="info">{{ data.username }}</span> •   
                                <span id="info">{{ data.created_at }}</span>
                            </div>
                        </article>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div id="con_one_6" style="display:none;">
                        {% for data in datas %}
                        {% if data.category == "招聘" %}
                        <article>
                            <div id="blog">
                                <div>
                                    <a href="/article/{{ data.id }}" title="{{ data.title }}"> {{ data.title }} </a>
                                    <div id="right-info">评论:{{ data.comments_count }}</div>
                                </div>
                                <span id="info">{{ data.category }}</span>  •  <span id="info">{{ data.username }}</span> •   
                                <span id="info">{{ data.created_at }}</span>
                            </div>
                        </article>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div id="con_one_7" style="display:none;">
                        {% for data in datas %}
                        {% if data.category == "博客" %}
                        <article>
                            <div id="blog">
                                <div>
                                    <a href="/article/{{ data.id }}" title="{{ data.title }}"> {{ data.title }} </a>
                                    <div id="right-info">评论:{{ data.comments_count }}</div>
                                </div>
                                <span id="info">{{ data.category }}</span>  •  <span id="info">{{ data.username }}</span> •   
                                <span id="info">{{ data.created_at }}</span>
                            </div>
                        </article>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>




                <div class="re-desk-25 re-table-100">
                    <div id="aside">
                        <h3>What</h3>
                        <p>Chania is a city on the island of Crete.</p>
                        <h3>Where</h3>
                        <p>Crete is a Greek island in the Mediterranean Sea.</p>
                        <h3>How</h3>
                        <p>You can reach Chania airport from all over Europe.</p>
                    </div>
                </div>
                <footer class="re-desk-25 re-table-100" >
                    <div id="aside">
                        <div >
                            <ul >
                                <a class="Footer-link" href="" rel="noopener">关于</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">帮助中心</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">条款</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">隐私政策</a> &nbsp; 
                                <a class="Footer-link" href="" rel="noopener">Cookies</a> &nbsp; 
                                <a class="Footer-link" href="" rel="noopener">广告信息</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">商标</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">博客</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">状态</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">应用</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">工作机会</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">企业</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">开发者</a>
                                <li class="Footer-item Footer-copyright copyright">&copy; 2017 Rust</li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
        </main>
    
        <span id="nav_left">
                <li class="menu-item"><a href="/doc">文档</a></li>
                <li class="menu-item"><a href="/news">新闻</a></li>
                <li class="menu-item"><a href="/area">板块</a></li>
        </span>
        {% if username %}
        <span id="primary_nav">
                <ul id="dmenu">
                    <span id="dright">
                        <li class="menu-item"><a href="/article/new">新发布</a></li>
                    </span>
                </ul>
        </span>
        <span id="nav_right">
                <li ><a href="/user/{{ user_id }}">{{ username }} &emsp;</a></li>
                <li ><a href="/user/logou">退出</a></li>
        </span>
        {% else %}
        <span id="nav_right">
                <li ><a href="/user/register">注册 &emsp;</a></li>
                <li ><a href="/user/login">登录</a></li>
        </span>
        {% endif %}
    </div>
    <script src="../js/nav.js"></script>
</body>
</html>
