<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rust-Forum</title>
    <meta name="description" content="CSS only mobile first navigation">
    <meta name="author" content="Ian Yates">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no">
    <link rel="stylesheet" href="../css/styles.css">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
 
    <!-- Favicons-->
    <link rel="shortcut icon" href="../img/favicon.ico">
</head>
<body >
    <div id="all">
        <header >
                <h1 class="logo"><a href="/" >Rust</a></h1>
                <label ><a id="menu" href="#" >Menu</a></label>
        </header>
        <nav id="mnav" >
                <ul>
                    <li >
                        <a href="/doc">Doc</a>
                    </li>
                    <li >
                        <a href="/news">News</a>
                    </li >
                    <li >
                        <a href="/area">Area</a>
                    </li >
                    {% if username %}
                    <li >
                        <a href="/article/new">New</a>
                    </li>
                    <li >
                        <div id="last">
                        <a  href="/user/{{ user_id }}">{{ username }}</a>
                        <a  href="/user/logout">Logout</a>
                        </div>
                    </li>
                    {% else %}
                    <li >
                        <a href="/user/login">Login-Reg</a>
                    </li>
                    {% endif %}
                    
                </ul>
        </nav>
        <main id="main">
            <div id="content" >
                <div class="re-desk-75 re-table-100 ">
                    <article >
                        <div id="top">
                            <div id="user-reg">
                                <a href="/user/login">Login &emsp;</a>
                                <a href="/user/register">Register &emsp;</a>  
                            </div>
                            <form action="/user/register" method="post" accept-charset="utf-8">
                            <div id="login">
                                {% if errmsg %} <p class="tip">*{{ errmsg }}</p> {% endif %}
                                <h4>Email：&emsp;&emsp;<input name="email" required="required" type="text"></h4><br>
                                <h4>Name： &emsp;&emsp;<input name="username" required="required" type="text"></h4><br>
                                <h4>Password：&nbsp;&nbsp;<input name="password" required="required" type="password" minlength=3></h4><br>
                                <h4>Password: &nbsp;&nbsp; <input name="password2" required="required" type="password" minlength=3></h4>
                            </div><br>
			                <button type="submit" > Submit </button>
                            </form>
                        </div>
                    </article>
                </div>


                <footer class="re-desk-25 re-table-100" >
                    <div id="aside">
                        <div >
                            <ul >
                                <a class="Footer-link" href="" rel="noopener">About</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">Help</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">Copyright</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">Cookies</a> &nbsp; 
                                <a class="Footer-link" href="" rel="noopener">ADs</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">Mark</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">Blog</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">Application</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">Job</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">Developer</a>
                                <li class="Footer-item Footer-copyright copyright">&copy; 2017 Rust</li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
        </main>
    
        <span id="nav_left">
                <li class="menu-item"><a href="/doc">Doc</a></li>
                <li class="menu-item"><a href="/news">News</a></li>
                <li class="menu-item"><a href="/area">Area</a></li>
        </span>
        
        <span id="nav_right">
                <li ><a href="/user/register">Register &emsp;</a></li>
                <li ><a href="/user/login">Login</a></li>
        </span>
    </div>
    <script src="../js/nav.js"></script>
</body>
</html>