<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rust-Forum</title>
    <meta name="description" content="CSS only mobile first navigation">
    <meta name="author" content="Ian Yates">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no">
    <link rel="stylesheet" href="../css/styles.css">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
 
    <!-- Favicons-->
    <link rel="shortcut icon" href="../img/favicon.ico">
    <script src="../js/tabs.js" async="async"></script>
</head>
<body >
    <div id="all">
        <header >
                <h1 class="logo"><a href="/" >Rust</a></h1>
                <label ><a id="menu" href="#" >Menu</a></label>
        </header>
        <nav id="mnav" >
                <ul>
                    <li >
                        <a href="/doc">文档</a>
                    </li>
                    <li >
                        <a href="/news">新闻</a>
                    <li >
                        <a href="/article/new">新主题</a>
                    </li>
                    <li >
                        <a href="/bolg/new">新博客</a>
                    </li>
                    <li >
                    {% if username %}
                        <div id="last">
                        <a  href="/user/{{ user_id }}">{{ username }}</a>
                        <a  href="/user/logout">退出</a>
                        </div>
                    {% else %}
                        <a href="/user/login">登录与注册</a>
                    {% endif %}
                    </li>
                </ul>
        </nav>
        <main id="main">
            <div id="content" >
                <div class="re-desk-75 re-table-100 ">
                    <div id="top">
                            <div id="new-theme">
                                <h4> 个人中心 </h4> 
                            </div>
                            <div id="person">
                                <span id="person-info">个人图像</span><span id="person-info">{{ username }}</span>
                                <div id="person-info">
                                    <p>email:{{ login_user.email }}</p>
                                    <p>注册时间:{{ login_user.regtime }}</p>
                                    <p>话题数，评论数</p>
                                </div>
                            </div>
                    </div>
                    <div id="tab1" class="tab1">
                        <ul id="menu-title">
                            <li id="one1" onclick="setTab('one',1)"><h4>我的发布</h4></li>&emsp;
                            <li id="one2" onclick="setTab('one',2)"><h4>我的评论</h4></li>&emsp;
                            <li id="one3" onclick="setTab('one',3)"><h4>我的消息</h4></li>
                        </ul>
                        <div id="message-content">
                            <div id="con_one_1" class="tab_content">
                                {% for article in user_articles %}
                                    <div id="blog">
                                        <div><a href="/article/{{ article.id }}"> {{ article.title }} </a></div>
                                        <span id="info">{{ article.category }}</span>  • <span id="info">{{ article.created_at }}</span><span id="info">评论:{{ article.comments_count }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                            <div id="con_one_2" style="display:none;" class="tab_content">
                                {% for comment_article in user_comments %}
                                    <div id="blog">
                                        <div>
                                            <span><a href="/article/{{ comment_article.id }}"> {{ comment_article.title }} </a></span> &emsp; 
                                            <span style="float:right;"> 
                                                <span id="info">{{ comment_article.category }}</span> • <span id="info">{{ comment_article.comment_createtime }}</span> • 
                                                <span id="info">评论:{{ comment_article.comments_count }}</span>
                                            </span>
                                        </div>
                                        <span id="info" style="font-size:14px;">{{ comment_article.comment_content }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                            <div id="con_one_3" style="display:none;" class="tab_content">
                                {% for message in user_messages %}
                                    <div id="blog">
                                        <div>
                                            <span><a href="/user/{{ message.from_uid }}"> {{ message.from_uid_name }} </a></span> 
                                            <span id="info"> 在</span> <span><a href="/article/{{ message.article_id }}"> {{ message.article_title }} </a></span> <span id="info"> 评论了你</span>  
                                            <span id="info" >{{ message.message_createtime }}</span>>
                                        </div>
                                        <span id="info" style="font-size:14px;">{{ message.comment_content }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>    
                    </div>
                </div> 


                <div class="re-desk-25 re-table-100">
                    <div id="aside">
                        <h3>What</h3>
                        <p>Chania is a city on the island of Crete.</p>
                        <h3>Where</h3>
                        <p>Crete is a Greek island in the Mediterranean Sea.</p>
                        <h3>How</h3>
                        <p>You can reach Chania airport from all over Europe.</p>
                    </div>
                </div>
                <footer class="re-desk-25 re-table-100" >
                    <div id="aside">
                        <div >
                            <ul >
                                <a class="Footer-link" href="" rel="noopener">关于</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">帮助中心</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">条款</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">隐私政策</a> &nbsp; 
                                <a class="Footer-link" href="" rel="noopener">Cookies</a> &nbsp; 
                                <a class="Footer-link" href="" rel="noopener">广告信息</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">商标</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">博客</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">状态</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">应用</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">工作机会</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">企业</a> &nbsp;
                                <a class="Footer-link" href="" rel="noopener">开发者</a>
                                <li class="Footer-item Footer-copyright copyright">&copy; 2017 Rust</li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
        </main>
    
        <span id="nav_left">
                <li class="menu-item"><a href="/doc">文档</a></li>
                <li class="menu-item"><a href="/news">新闻</a></li>
                <li class="menu-item"><a href="/area">板块</a></li>
        </span>
        {% if username %}
        <span id="primary_nav">
                <ul id="dmenu">
                    <span id="dright">
                        <li class="menu-item"><a href="/article/new">新发布</a></li>
                    </span>
                </ul>
        </span>
        <span id="nav_right">
                <li ><a href="/user/{{ user_id }}">{{ username }} &emsp;</a></li>
                <li ><a href="/user/logou">退出</a></li>
        </span>
        {% else %}
        <span id="nav_right">
                <li ><a href="/user/register">注册 &emsp;</a></li>
                <li ><a href="/user/login">登录</a></li>
        </span>
        {% endif %}
    </div>
    <script src="../js/nav.js"></script>
</body>
</html>
